{% extends "base.html" %}
{% load pagination_tags %}
{% load url from future %}

{% block scripts %}
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ROOT_URL}}media/js/demos.css">
{% endblock %}


{% block content %}
  <p> Total Number of record is {{item_list.count}}  </p>
	{%if item_list %}
		{% autopaginate item_list %}
		{% paginate %}
		<table class='list_table' border="1">
		<tr>
		<td>Name</td>
		</tr>
		
		{% for item in item_list %}
			<tr>
			    <td><p><a href="{{ROOT_URL}}user/meetings/pdfs/{{ item}}">{{ item}}</a></p>
				   </td>
			<tr>
		{% endfor %}
		
                </table>
   {% endif %}

{% endblock %}