{% extends "financial_base.html" %}
{% block scripts %}
     <script src="{{MEDIA_URL}}js/jquery-1.6.2.js"></script>
		 <script type="text/javascript" src="{{MEDIA_URL}}js/jquery/countdown/jquery.countdown.js"></script>
		<style type="text/css">@import "{{MEDIA_URL}}js/jquery/countdown/jquery.countdown.css";
			#Countdown { width: 240px; height: 45px; }</style>

    {{forms.media}}

		
		 <script type="text/javascript"> 
  $(function(){
    $("#id_datestart").datepicker();
  });
</script>

		
		 <script>	 	
		 $(document).ready(function () {
		 	function ajax_call() {
      $.ajax({
                url: 'search/',
                dataType: 'json',
                data: {'account':$("#id_account").val(),
                       'datestart':$("#id_datestart").val(),
                       'dateend':$("#id_dateend").val(),
                       'purchaseon':$("#id_type_0").is(':checked'),
                       'sellon':$("#id_type_1").is(':checked'),
                       'operationon':$("#id_type_2").is(':checked'),
                       },
                success: function(data1, textStatus, jqXHR){
                  alert('Found Total ' + data1.length + ' transactions');

                	$("#id_transaction").empty();
                	$("#id_transaction").last().append(
                	      "<tr><td>" + "id" + "</td>" + 
			                  "<td>" + "Amount +" + "</td>" +
			                  "<td>" + "Amount -" + "</td>" + 
			                  "<td>" + "date" + "</td>" +
                        "<td>" + "note" + "</td>" +
			                  "</tr>");
                	
                	$.each(data1, function(index, value) {
                		    $("#id_transaction").last().append(
			                  "<tr><td>" + value.id + "</td>" + 
			                  "<td>" + value.amountplus + "</td>" + 
			                  "<td>" + value.amountminus + "</td>" + 
			                  "<td>" + value.ddate + "</td>" +
                        "<td>" + value.notes + "</td>" +
                        
			                  "</tr>");		                  
			                  
                    });
                          },

                error:function(xhr, status, error) {
                         //alert(data1);

                         alert("An AJAX error occured: " + status + "\nError: " + error);
                         
                          },

                });};
        
        $('#id_submit').click(function(){
             ajax_call();}	);
    });
		 		</script>


<script type="text/javascript"> 
  $(function(){
    $(".dateinput").datepicker();
  });
</script>

	 		
		 		
{% endblock %}




{% block content %}

        <table class='form_table' border="1">
          
        {% for field in forms.visible_fields %}
                <tr>
                <td>{{ field.label_tag }}</td>
                <td>
                {% if field.errors %}<div class="flash"><div class="error">{% endif %}
                  {{ field }}
                {% if field.errors %}{{ field.errors }}</div></div>{% endif %}
                </td>
                </tr>
        {% endfor %}
        </table>
        <button type="button" id='id_submit'>Search</button>
         
          <div>
         <table border=1 id='id_transaction'>
           
            
         </table> 
         </div>     
         
{% endblock %}