{% extends "financial_base.html" %}

{% block content %}

          <div>
            <table>
            {% for account,value in comission.items %}

               {% if value.amount.amountminus > 0 %}
            <h3>{{account}}</h3>
            <p>total commission earned YTD:{{value.amount.amountminus}}</p>
                   <tr><td>Transaction ID</td><td>Purchase Info</td><td>Date</td><td>Amount</td></tr>
                    
                    {% for tran in value.transactions %}
                         <tr><td>{{tran.transaction.id}}</td><td>{{tran.purchase}}</td><td>{{tran.lastmodified.date}}</td><td>{{tran.transaction.amount}}</td><tr>
                    {% endfor %}
                    
               {% endif %}
            {% endfor %}
          </table>

         </div>     
         
{% endblock %}