
body {
    margin: 0;
    padding: 0;
    font: small Helvetica, Arial, sans-serif;
    
}

#wrapper {
    text-align: left;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    background-color: #EEEEEE;
}

#header {
    width:1024px;
    margin: 0;
    padding: 0;
}

#main {
    width: 1024px;
    background-position: top right;
    background-repeat: repeat-y;
}

#tagline {
    font-weight: bold;
    background-color: #fdf8f2;
    color: #050845;
    font-style: italic;
}


#sidebarright {
    float: left;
    text-align: left;
    width: 220px;
    background-color: #EEEEEE;
    border: 1px solid #b9d2e3;
    margin: 0;
    color: #0057CD;
    padding: 5px 5px 5px 5px;
}

#content {
    background-color: #EEEEEE;
    width:780px;
    float:right;
    margin: 0 0px 0 0px;
    padding: 5px 5px;
    border-left: 1px solid #b9d2e3;
    font: small Helvetica, Arial, sans-serif;
}

#content p{
    font: small Helvetica, Arial, sans-serif;
    font-size: 100%;
}

#content h2{
    font: small Helvetica, Arial, sans-serif;
    font-size: 120%;
}

#content ul{
    font: small Helvetica, Arial, sans-serif;
    font-size: 100%;
}

#content li{
    font: small Helvetica, Arial, sans-serif;
    font-size: 120%;
}




#sidebar2 {
    float: top;
    font-weight:bold;
    width: auto;
    border-top: 1px solid #b9d2e3;
    border-bottom: 1px solid #b9d2e3;
    background-color: #EEEEEE;
    color: black;
    margin: 0 0px 0 0px;
    padding:  5px 5px 5px 5px;
}

#footer {
    clear: both;
    width: auto;
    border-top: 1px solid #b9d2e3;
    border-bottom: 1px solid #b9d2e3;
    text-align: right;
    padding:  2px 5px 2px 5px;
}



#clearone {
clear: both;
height: 1px;
}



div#map_image {
    float: left;
    width: 150px;
    margin: 10px;
    padding: 0;
}

div#map_content{
    font: small Helvetica, Arial, sans-serif;
    font-size: 100%;    
}

div#map_title {
    font: small Helvetica, Arial, sans-serif;
    font-size: 150%;  
}




div#hmenu {
   margin: 0;
   padding: .3em 0 .3em 0;
   background: #DDDDDD;
   width: 100%;
   text-align: left;
}

div#hmenu ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

div#hmenu ul li {
   margin: 0;
   padding: 0;
   display: inline;
}

div#hmenu ul a:link{
   margin: 0;
   padding: .3em .4em .3em .4em;
   text-decoration: none;
   font-weight: bold;
   font-size: medium;
   color: #000000;
}

div#hmenu ul a:visited{
   margin: 0;
   padding: .3em .4em .3em .4em;
   text-decoration: none;
   font-weight: bold;
   font-size: medium;
   color: #4297D7;
}

div#hmenu ul a:active{
   margin: 0;
   padding: .3em .4em .3em .4em;
   text-decoration: none;
   font-weight: bold;
   text-decoration: underline; 
   font-size: medium;
   color: #4297D7;
}

div#hmenu ul a:hover{
   margin: 0;
   padding: .3em .4em .3em .4em;
   text-decoration: none;
   font-weight: bold;
   font-size: medium;
   color: #0057CD;
   background-color: #4297D7;
}


table {
    border-top:1px solid #4297D7;
    border-right:1px solid #EEEEEE;
    border-collapse:collapse;
    }
    
td {
    border-bottom: 1px solid #4297D7;
    border-left: 1px solid #EEEEEE;
    color: #000000;
    font-family: Verdana,Arial,sans-serif;
    padding: 0.3em 1em;
    text-align: left;
    font-size: 80%;
}


tr.odd td,
    tr.odd .column1 {
    background:#f4f9fe url(images/background.gif) no-repeat;
    }
    .column1 {
    background:#f9fcfe;
    }
