{% load i18n %}
{% load url from future %}

<div id="hmenu">

    <ul>
    	   
         <li><a href="{{ROOT_URL}}"> | Home | </a></li>
         <li><a href="{{ROOT_URL}}financial/index/"> | Account | </a></li>
         <li><a href="{{ROOT_URL}}supply/index/"> | Product | </a></li>
         <li><a href="{{ROOT_URL}}purchases/index/"> | Purchase | </a></li>
         <li><a href="{{ROOT_URL}}assets/index/"> | Assets | </a></li>
         <li><a href="{{ROOT_URL}}sells/index/"> | Sell | </a></li>
         <li><a href="{{ROOT_URL}}admin"> | Admin | </a></li>
    </ul>

</div>